{
	servers {
		trusted_proxies static 172.28.0.0/16
		trusted_proxies_strict
	}
}

:80 {
	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy web:8080
	}

	log {
		output stdout
		format json
	}
}
